# copy this file to /etc/systemd/system/tg-housing.service

[Unit]
Description=TG Housing Service
Requires=docker.service
After=docker.service

[Service]
User=tg-housing-srv
Group=tg-housing-srv
ExecStart=/opt/tg-housing/bin/start
ExecStop=/opt/tg-housing/bin/stop
Restart=on-failure
RestartSec=20
TimeoutStopSec=180

[Install]
WantedBy=multi-user.target
